<ion-view title="Makeup List " id="page2">
  <ion-content padding="true" class="has-header">
    <form id="makeupList-form5" class="list">
      <label class="item item-input" id="makeupList-search1" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="SEARCH">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="makeupList-list4">
      <ion-item id="makeupList-list-item6" ui-sref="tabsController.yourMakeup()">Mac Mascara
        <span class="item-note">Black</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="makeupList-list-item7">Item 2</ion-item>
      <ion-item id="makeupList-list-item8">Item 3</ion-item>
    </ion-list>
    <ion-list id="makeupList-list5">
      <ion-item id="makeupList-list-item13">Item 1</ion-item>
      <ion-item id="makeupList-list-item14">Item 2</ion-item>
      <ion-item id="makeupList-list-item15">Item 3</ion-item>
    </ion-list>
    <ion-list id="makeupList-list6">
      <ion-item id="makeupList-list-item16">Item 1</ion-item>
      <ion-item id="makeupList-list-item17">Item 2</ion-item>
      <ion-item id="makeupList-list-item18">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>