<ion-view title="Makeup at the stores" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="makeupAtTheStores-list10">
      <ion-item id="makeupAtTheStores-list-item28">Mac Mascara
        <span class="item-note">Black</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 100px;"></div>
    <ion-list id="makeupAtTheStores-list12">
      <ion-item class="item-thumbnail-left" id="makeupAtTheStores-list-item30">
        <img src="img/cIb68u0RSGDSktGHBN8f_walmart.jpg">
        <h2>Wal-Mart</h2>
        <p>10.99</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="makeupAtTheStores-list-item31">
        <img src="img/8lpbfapuSVOoI9f1Zx6q_target_image.jpg">
        <h2>Target</h2>
        <p>17.99</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="makeupAtTheStores-list-item32">
        <img src="img/gurhhkBpQVOdUJWRS8IW_ulta.jpg">
        <h2>Ulta Beauty</h2>
        <p>21.99</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>