<ion-view title="Signup" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="signup-form2" class="list">
      <p style="text-align:center;font-size:30px;font-weight:bold;">
        Makeup Keeper
      </p>
      <ion-list id="signup-list2">
        <label class="item item-input item-floating-label" id="signup-input3" name="user_name">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input item-floating-label" id="signup-input4" name="email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label" id="signup-input5" name="password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <label class="item item-input item-floating-label" id="signup-input15" name="verify_password">
        <span class="input-label">Verify Password</span>
        <input type="password" placeholder="Verify Password">
      </label>
      <button id="signup-button3" class="button button-stable button-block">Sign up</button>
      <button id="signup-button11" class="button button-positive button-block">Sign up with Facebook</button>
    </form>
  </ion-content>
</ion-view>