<ion-view title="Your Makeup" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="yourMakeup-form4" class="list">
      <label class="item item-input item-stacked-label" id="yourMakeup-input11" name="Brand">
        <span class="input-label">Brand</span>
        <input type="text" placeholder="Mac">
      </label>
      <label class="item item-select" id="yourMakeup-select2" name="type">
        <span class="input-label">Type</span>
        <select>
          <option>Mascara</option>
          <option>Concealer</option>
          <option>Base</option>
          <option>Eye Liner</option>
          <option>Lip Liner</option>
          <option>Lipstick</option>
          <option>Lipgloss</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="yourMakeup-input12" name="Name">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Crazy Eyes">
      </label>
      <label class="item item-input item-stacked-label" id="yourMakeup-input13" name="Color">
        <span class="input-label">Color</span>
        <input type="text" placeholder="Black">
      </label>
      <label class="item item-input item-stacked-label" id="yourMakeup-input14" name="Item_number">
        <span class="input-label">Item Number</span>
        <input type="text" placeholder="123456">
      </label>
    </form>
    <a ui-sref="tabsController.makeupList()" id="yourMakeup-button18" class="button button-assertive button-block button-outline">Delete</a>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="yourMakeup-list7">
      <ion-item class="item-thumbnail-left item-icon-right" id="yourMakeup-list-item9">
        <img src="img/bFfzhi8NTC27R116XA30_wal-mart.jpg">
        <h2>Wal-Mart</h2>
        <p>15.99</p>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="yourMakeup-list-item10">
        <img src="img/EDGf5kAsT7e6T2Au6hdh_target_logo.jpg">
        <h2>Target</h2>
        <p>17.99</p>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="yourMakeup-list-item11">
        <img src="img/A2CLm0vQRWQLbOjlzFeG_ulta_beauty.jpg">
        <h2>Ulta Beauty</h2>
        <p>21.99</p>
        <i class="icon ion-ios-cart-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>